<h3>1. Adicionar modal na seleção de produtos ou direcionar para uma pagina de compra especifica do produto</h3>
<h3>2. Adicionar pagina de cadastro de Produto</h3>
<h3>3. Adicionar pagina de cadastro de Usuario</h3>