@model ProdutosModel

<link href="./css/Produtos/Detalhes.css" rel="stylesheet" />

<h1>@Model.Nome</h1>
<div class="">
    <div class="div_imagem">
        imagem
    </div>
    <div class="div_conteudo">

    </div>
</div>