@model IEnumerable<ProdutosModel>



<div>

    <div>
        <a asp-controller="Produtos" asp-action="VisualizarProdutos" asp-route-tipo="Comidas">Comidas</a>
    </div>

    <div>
        <a asp-controller="Produtos" asp-action="Create"> Cadastrar Produto</a>
    </div>

    <div>
        <a asp-controller="Produtos" asp-action="VisualizarProdutos" asp-route-tipo="Tech">Tech</a>
    </div>

</div>
