@model IEnumerable<ProdutosModel>


@{
}

<link href="~/css/Produtos/Produtos.css" rel="stylesheet" />

<div class="div_titulo">
    <h1>@Model.First().Tipo</h1>
</div>

<div class="Conteudo">
    @foreach (var item in Model)
    {
        <div class="div_item">

            <div class="div_nome">
                <h4>@item.Nome</h4>
            </div>

            <div class="div_preco">
                <p>R$ @item.Price</p>
            </div>

            <div class="div_botao">
                <a class="btn btn-secondary" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@item.ProdutoID">Ver Produto</a>
            </div>

        </div>
    }
</div>